
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #939394 !important;
background-color: #FFFFFF!important;
}

.navbar-default {
background-color: #F5F5F5 !important;
border-color: #E7D6D6 !important;
}
#stage{
display:none;
}
body{


}
#block{
    
background-color: black;
}

.greenDiv{
  
background-color: rgb(216, 218, 216) !important;

}
.lang tbody tr td:hover , .body_location{
cursor:pointer;
}
@media (min-width: 768px){
.form-horizontal .control-label {
text-align: right;
width: 161px !important;
}
}

.Head{
background-color: rgb(253, 253, 253);
box-shadow: 0px 2px 1px -1px rgba(226, 0, 0, 0.16);
color: rgb(70, 150, 33);
padding: 10px;
font-size: 17px;
font-weight: bold;

}

.list-group-item:first-child {

width: 100% !important;
}
.list-group {
margin-bottom: 0px !important;
}
.panel-body {
padding: 0px !important;
}
.panel {
border: 0px solid transparent !important;
}
label.valid {
  width: 24px;
  height: 24px;
  background: url(assets/img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.multiselect-container{
height:185px;
overflow: scroll;
}
.container{
position:relative;
}
.step{
width: 194px;
height: 50px;
float: left;
display: block;
margin-left: 4%;
background-color: rgb(255, 11, 11);
color: white;
font-size: 14px;
text-align: center;
line-height: 3.2em;
box-shadow: 3px 2px 1px -1px rgba(226, 0, 0, 0.16);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #2F2F33 !important;
background-color: #FFFFFF !important;
}

.navbar-default {
background-color: #fff !important;
border-color: #E7D6D6 !important;
margin-left: -15px !important;
}
.navbar-wrapper {
position: fixed;
margin-top: 71px;
z-index: 40;
width: 100%;
}
.logo{
position: relative;
display: block;
float: left;


}
.container_head{
	margin: 0 auto;
width: 100%;
height: 71px;
background-color: red;
box-shadow: 5px 2px 2px -1px rgba(26, 24, 24, 0.16);
margin-bottom: 10px;
position: fixed;
z-index: 40;
}
.container_head_nav{
margin: 0 auto;
width: 100%;
}
.navbar-nav > li > a {


}
.body_con{

}
#inner_head{
max-width: 1141px;
height: 71px;
margin: 0 auto;
}
.bx-wrapper {
margin-top: 26px !important;
margin-left: 8px !important;
}
.pro_box{
width: 130px;
height: 130px;
display: block;
margin-right: 110px;
float: left;
font-size: 11px;
border-radius: 50%;
-moz-box-radius: 50%;
-ms-box-radius: 50%;
border: 9px solid #e3e3e3;
background-color: #77b7fd;
text-align: center;
color: white;
background-image: -webkit-linear-gradient(top, #A5CFFF, rgba(129, 187, 252, 1) 50%);
background-image: -moz-linear-gradient(top, #A5CFFF, rgba(129, 187, 252, 1) 50%);
background-image: -ms-linear-gradient(top, #A5CFFF, rgba(129, 187, 252, 1) 50%);
box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.25);
-moz-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.25);
}
.pro_box_login{
margin-bottom: 26px !important;
width: 130px;
height: 130px;
display: block;
margin:0 auto;
font-size: 11px;
border-radius: 50%;
-moz-box-radius: 50%;
-ms-box-radius: 50%;
border: 9px solid #e3e3e3;
background-color: #77b7fd;
text-align: center;
color: white;
background-image: -webkit-linear-gradient(top, #A5CFFF, rgba(129, 187, 252, 1) 50%);
background-image: -moz-linear-gradient(top, #A5CFFF, rgba(129, 187, 252, 1) 50%);
background-image: -ms-linear-gradient(top, #A5CFFF, rgba(129, 187, 252, 1) 50%);
box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.25);
-moz-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.25);
}
.signin_p{
margin: 0 auto;
display: block;
position: relative;
text-align: center;
font-size: 22px;
margin-top: 100px;
margin-bottom: 20px;
font-family: 'Source Sans Pro', sans-serif;
}
.icon{
width: 88px;
height: 88px;
display: block;
position: relative;
padding-top: 20px;
margin: 0 auto;
margin-top: -13px;
}



#spnTop{
position: absolute;
right: 1%;
width: 50px;
height: 50px;
background-color: rgb(230, 230, 230);
border-radius: 50%;
box-shadow: 3px 2px 1px -1px rgba(68, 60, 60, 0.16);

}
.seek{background: url("../images/icon_sprite.png") 2px 15px;}
.lob{background: url("../images/icon_sprite.png") 2px -63px;;}
.org{background: url("../images/icon_sprite.png") 2px -135px;}
.inter{background: url("../images/icon_sprite.png") 2px -199px;}
.appoint{background: url("../images/icon_sprite.png") 2px -271px;}
.intro{
background-color: #f7f7f7;
padding-top: 55px;
padding-bottom: 55px;
color: rgb(138, 121, 121);
margin-right: 18px;
margin-top: 27px;

}
.intro p{
font-size: 18px;
line-height: 1.5em;
font-family: 'Source Sans Pro', sans-serif;

}
.intro h3 , .process h3{
font-size: 50px;
}
.process{
background-color: #f7f7f7;
margin-top: 27px;
padding-bottom: 93px;
padding-top: 83px;
border-bottom: 1px solid #EEE6E6;
box-shadow: 0px 2px 1px -1px rgba(255, 242, 242, 1);
margin-right: 18px;
}
.navbar-nav > li > a {


font-size: 15px;

font-family: 'Source Sans Pro', sans-serif;
}
.footer{
height: 65px;
background-color: #505050;
margin-top: 111px;
margin-left: -15px;

}
.form-group {
margin-bottom: 6px;
}
.signin{

margin-top: 10px;

}
.comments{
padding-left: 17px;
color: #444242;

}
.profile{
padding-top: 122px;
margin-top: 122px;
margin: 0 auto;
}
.bx-wrapper .bx-controls-direction a{
z-index:8 !important;
}
.bx-wrapper .bx-viewport{
-moz-box-shadow: 0 0 0px #ccc !important;
-webkit-box-shadow: 0 0 0px #ccc !important;
box-shadow: 0 0 0px #ccc !important;

}
.pro_u{

}
.text{
height: 20px;
text-transform: uppercase;
display: block;
width: 124px;
color: rgba(95, 83, 83, 0.65);
position: absolute;
margin-left: 99px;
margin-top: 46px;
padding: 1px
}


.border{
display: block;
border-bottom: 1px solid #F0F0F0;
margin-top: -24px;
margin-bottom: 26px;

}
h3{
text-transform: uppercase;

background-color: rgb(255, 255, 255);

color: rgb(151, 151, 151);
}
.into_h3{
width: 199px;
background-color: white;
position: relative;
}
.org_h3{
width: 360px;
display: block;
background-color: white;
position: relative;
}
.cv_h3{
width: 170px;
display: block;
background-color: white;
position: relative;
margin-top: -47px;
}
.cvs{
background-color: #f7f7f7;
margin-top: 90px;
height: 900px;
width: 69%;
float: left;

}
.ads{
width: 22%;
float: left;
margin-right: 0px;

}
.con_h3{
width: 397px;
background-color: white;
position: relative;
}
.contact_head{
font-size: 15px;
color: rgb(37, 35, 35);
margin-bottom: 0px;
}
.contact_info{
display: block;
font-size: 15px;
color: rgba(61, 60, 60, 0.52);
font-family: 'Source Sans Pro', sans-serif;
margin-bottom: 46px;
}
.container_head_images{
margin: 0 auto;
width: 100%;
height: 475px;

margin-bottom: 10px;
/*background-image: url("../images/squared_metal.png");*/

}
.slogan{
float: right;
font-size: 30px;
margin-top: 13px;
color: white;
margin-right: 35px;
font-family: 'Source Sans Pro', sans-serif;
}
.slide{
cursor:pointer;
opacity:1;
}
#footerbox {
float: right;
width: 331px;
margin-top: -68px;
margin-right: 229px;
height: 68px;
border-top-left-radius: 24%;
background-image: url("../images/social1.png");
background-position: 1px -118px;
padding-left: 34px;
padding-top: 6px;
}


#footerbox  span{
width: 60px;
height: 60px;
display: block;
float: left;
margin-left: 6px;
margin-bottom: 5px;
}
#footerbox span:hover{
opacity:0.7;
cursor:pointer;
}
.fbox1{
background-image: url("../images/social1.png");
background-position: -96px -19px;

}
.fbox2{
background-image: url("../images/social1.png");
background-position: -29px -19px;

}
.fbox3{
background-image: url("../images/social1.png");
background-position: -156px -19px;
}
.fbox4{
background-image: url("../images/social1.png");
background-position: -214px -19px;
}
.middle{
margin: 0 auto;
max-width: 1200px;
}
#site-info{
float: left;
margin-top: 31px;
margin-left: 39px;
color: rgb(194, 193, 193);
font-size: 11px;
}
#site-info a{
color: rgb(255, 255, 255);
}
.border-thick{
width: 9.6%;
height: 8px;

margin-top: 69px;
z-index: 2;
float: left;
left: inherit;
margin-left: -110px;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 56%, #d1cccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(56%,#ffffff), color-stop(100%,#d1cccc));
background: -webkit-linear-gradient(top, #ffffff 56%,#d1cccc 100%);
background: -o-linear-gradient(top, #ffffff 56%,#d1cccc 100%);
background: -ms-linear-gradient(top, #ffffff 56%,#d1cccc 100%);
background: linear-gradient(to bottom, #FFFFFF 56%,#d1cccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1cccc',GradientType=0 )

}
.ads ,.cvs {
background-color: rgba(248, 248, 248, 0.51);
margin-top: 90px;
margin-right: 47px;
height:auto;
}
.ads img{
width: 200px;
height: 100px;
margin-bottom: 31px;
display: block;
margin-left: 26px;
margin-top: 37px;

}
.last_box{
margin-right:0px !important;
}
.cato a{
border: 1px solid #E7DDDD;
width: 100%;
display: block;
color: rgb(66, 66, 66);
background-color: #fff;
font-size: 16px;

}
.cato_org a{
border: 1px solid #E7DDDD;
width: 100%;
display: block;
color: rgb(66, 66, 66);
background-color: #fff;
font-size: 14px;

}
.cato_org a:hover{
text-decoration:none;
}
#jobseeker{
margin-top: 50px;

}
#jobseeker_org_page{

margin-top: 30px;
}
.toogle_box{
width: 31.7%;
position: absolute;
background-color: rgb(11, 104, 29);
padding: 20px;
background-color: #f7f7f7;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
z-index: 100;
}
.area_box{
position: absolute;
left: 170px;
width: 51%;
background-color: rgb(11, 104, 29);
background-color: #f7f7f7;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
z-index: 100;
}
.level_box{
position: absolute;
right: 62px;
width: 51%;
background-color: rgb(11, 104, 29);
background-color: #f7f7f7;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
z-index: 100;
}
.area_box tbody tr td{
margin: 0px 10px 10px 10px;
display: block;
background-color: white;
padding: 0px;
}
.level_box tbody tr td {
margin: 0px 10px 10px 10px;
display: block;
background-color: white;
padding: 0px;
}
.custom-large{
padding: 10px 104px !important;
}

#other_text_out{
width: 100%;
border: 1px solid #E2D1D1;
padding: 3px;
margin-top: 9px;
}

.cato a:hover{
text-decoration:none;
}
.org_sub{
margin-left: 17px;
font-size: 17px !important;
color: rgb(92, 92, 92);
margin-bottom: 46px;
margin-top: -31px;
}
.jobseeker_box{

background-color: rgb(245, 245, 245);
}
.how_to_image{
margin-top: 57px;
}
.job_subhead{
padding-top: 25px;
font-size: 17px !important;
color: rgb(92, 92, 92);
margin-bottom: 46px;
}
.bx-controls{
display: none;
}

/*############ organization page styles #############*/

.jobsubmit{

  color: #000000;
  background: #ffd972;
  text-shadow: 0 1px 0 #ffee96;
  background: #ffca5e;
  background: -webkit-linear-gradient(#ffd972,#ffba49);
  background: linear-gradient(#ffd972,#ffba49);
  margin: 20px 0px;


}

#jobsubmit_page h2{

  text-transform: uppercase;
  background-color: rgb(255, 255, 255);
  color: rgb(151, 151, 151);
  font-size: 21px;
}
#jobsubmit_page select{

  width: 100%;
}
.vac_box{

  width: 31%;
  display: block;
  float: left;
  background-color: white;
  margin: 10px 10px;
  height: 100px;
  border: 1px solid #EAE6E6;
  box-shadow: 3px 4px 0px -2px rgba(15, 15, 15, 0.16);
}
.vac_box a{
  width: 58px;
  display: block;
  float: left;
  background-color: rgb(233, 232, 229);
  border: 1px solid #EAE6E6;
  color: #000;
  text-decoration: none;

}
.position{


  font-size: 15px;
  display: block;
  padding-left: 10px;
  padding-top: 10px;
  text-transform: uppercase;
}
.location{

   margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}


//############signin css#############//

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
 background-color: #f7f7f7;
padding: 70px 15px 47px;
margin: 0 auto 25px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
width: 397px;


}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px !important;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
//################ sining css////



@media(min-width:990px){
.pro_box {
margin-right: 64px;
}
.last_box{
margin-right:0px !important;}
.text{
margin-left: 86px;}
}
.toggle:hover ,td:hover{
cursor:pointer;
}

@media(max-width:1200px){
.border-thick{
width: 6.7%;
margin-left: -64px;}
.ads img {
margin-left: 6px;

}
.cvs{
width: 68%;
}
.pro_box {margin-right: 62px;}
.last_box{margin-right:0px !important;
}
}
@media(min-width:1200px){

.toogle_box {
width: 26.7%;
}
.area_box {
width: 46%;
}
.level_box {
right: 165px;
width: 46%;
}

}
.iconfont {
width: 1em;
padding-right: 20px;
font-size: 11px;
color: rgb(88, 88, 88);
}
.cv_head{
font-family: 'Lato', sans-serif;
color: black;
background-color: rgb(243, 243, 243);
padding: 5px;
}
.top_head{
background-color: #428bca;
color: white;
border-radius: 5px;
margin-bottom: 25px;
box-shadow: 1px 4px 3px -2px rgba(71, 71, 71, 1);
}
.h1_head{
font-family: 'Lato', sans-serif;
color: black;
background-color: rgb(243, 243, 243);
font-size: 30px;
}
.h1_head_sub{
font-size: 22px;
padding-top: 10px;
}
.extra_margin{
margin-left: -36px;
}
.more_space{
margin-bottom: 53px;
}
.contact_org{
font-size: 17px;
color: rgb(70, 150, 33);
display: block;
padding-top: 34px;
font-weight: bold;
}
.contact_org a{
color: rgb(70, 150, 33);
}